################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GetTypeHW/GetTypeHW/bin/Debug
/GetTypeHW/.vs/GetTypeHW/v16
/GetTypeHW/GetTypeHW/obj/Debug
/GetTypeHW/GetTypeHW/Properties
/GetTypeHW/GetTypeHW/App.config
